
body {
    color: #343a40;
}
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.box {
    min-height: 457.14px !important;
    max-width: 70%;
    min-width: 600px !important;
    word-wrap: break-word !important;
    border-radius: 0px 20px 15px 20px;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
//box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
}

.border-bottom {
    
}

a::hover {
    cursor: pointer !important;
}

h6 {
    display: inline;
}

.small-rad {
    border-radius: 5px 5px 5px 5px;
}